---
import { ClientRouter } from "astro:transitions";
import { getBaseUrl } from "@lib/utils";
import { frontmatter } from "@content/pages/main.md";
import Navbar from "@lib/components/Navbar.astro";

import "src/app.css";

interface Props {
  title?: string;
  menuType?: MenuType;
}

const { title, menuType = "page" } = Astro.props;

const mainTitle = frontmatter.title;
---

<script>
  import Lenis from "lenis";

  //*******************************************************************************************************************/
  // SMOOTH SCROLL

  let lenis;

  function raf(time: number) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  function smoothScrollToAnchor(event: Event) {
    lenis.scrollTo((event.target as HTMLAnchorElement).getAttribute("href"));
  }

  function getMenuAnchorLinks() {
    return document.querySelectorAll<HTMLAnchorElement>("a.menu-item.menu-anchor");
  }

  function init() {
    lenis = new Lenis();
    requestAnimationFrame(raf);
    // Menu smooth scroll event listeners are here because of lenis instance
    getMenuAnchorLinks().forEach((anchor) => anchor.addEventListener("click", smoothScrollToAnchor));
  }

  // OUT
  document.addEventListener("astro:before-swap", () => {
    lenis.destroy(); // Prevent lenis to scroll on next page
    getMenuAnchorLinks().forEach((anchor) => anchor.removeEventListener("click", smoothScrollToAnchor));
  });

  // IN
  document.addEventListener("astro:after-swap", () => {
    init();
  });

  init();
</script>

<html lang="et">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="color-scheme" content="light only" />
    <meta name="description" content="Müüa Kadastiku Õunaaed" />
    <title>{mainTitle} {title && ` | ${title}`}</title>
    <base href={getBaseUrl()} />
    <link href="https://vjs.zencdn.net/8.16.1/video-js.css" rel="stylesheet" />
    <link rel="stylesheet" href="/lenis.css" />
    <ClientRouter fallback="none" />
  </head>

  <body>
    <!-- FIREFOX! -->
    <script is:inline>
      true;
    </script>

    <div>
      <Navbar type={menuType} />
      <slot />
    </div>
  </body>
</html>
