---
import { Picture } from "astro:assets";
import { getBaseUrl } from "@lib/utils";
import Layout from "@layouts/ImageLayout.astro";
import HistorylessButton from "@lib/components/HistorylessButton.svelte";
import ChevronRight from "./icons/IconChevronRight.svelte";
import ChevronLeft from "./icons/IconChevronLeft.svelte";
import X from "./icons/IconX.svelte";
import "src/app.css";

interface Props {
  id: string;
  prevId: string;
  nextId: string;
  image: any;
  basePath: string;
  backUrl: string;
}

const { id, image, prevId, nextId, backUrl, basePath } = Astro.props;
---

<Layout title=`Suurna Õunaaed - ${id}`>
  <div class="fixed w-full h-lvh z-10 flex justify-center items-center">
    <!-- IMAGE -->
    <Picture
      src={image}
      formats={["avif", "webp"]}
      alt="A description of my image."
      class="object-cover w-full h-full"
      sizes="(min-width: 1024px) 1024px, 100vw"
    />
    <!-- BUTTONS -->
    <div class="fixed flex w-screen h-screen justify-between items-center">
      <HistorylessButton href=`${getBaseUrl()}/${basePath}/${prevId}` client:load><ChevronLeft class="size-10 mx-4" /></HistorylessButton>
      <HistorylessButton href=`${getBaseUrl()}/${basePath}/${nextId}` client:load><ChevronRight class="size-10 mx-4" /></HistorylessButton>
    </div>
    <div class="fixed flex w-screen h-screen justify-end items-start text-white text-2xl font-gelica pointer-events-none">
      <HistorylessButton href={backUrl} back client:load><X class="size-10" /></HistorylessButton>
    </div>
  </div>
</Layout>
